{% extends 'layout.html' %}

{% block content %}

<link rel="stylesheet" href="/assets/css/join_user.css">


<!-- 일반 회원가입 폼 -->
<div class="signin__card">
    <h2>
        <strong>아이디 찾기</strong>
    </h2>
    <form method='post' action="/user/find_id">
        <!-- NAME -->
        <input autocomplete='off' class="input-tag" type="text" placeholder="Enter your user name" name="name" required>
        
        <!-- TEL -->
        <input autocomplete='off' class="input-tag" type="text" placeholder="Enter your phone number" name="tel" required>
        <p style="text-align:left;">등록하신 이름과 연락처가 일치해야 합니다.</p>
        <input class="input-tag btn" type="submit" value="findId" id="findId" onclick="findId()">
        
        {% for i in list %}
        <p>{{i.name}}glglglgl</p>
        {% endfor %}
        <!-- <script>
            console.log("dddddddddddddddddddddddd",list)
        </script> -->


        <!-- <script> 
            let url = "/find_id"
            const findId = () => {
                fetch(url, {
                    method:"POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        
                    })
                })
                
            }
        </script> -->
        
        

        <p>
            <br>
            Find your menu , <br>
            with AFTER LUNCH !
        </p>
    </form>
</div>



{% endblock %}