{% extends 'layout.html' %}

{% block content %}

<link rel="stylesheet" href="/assets/css/join_user.css">


<!-- 일반 회원가입 폼 -->
<div class="signin__card">
    <h2>
        <strong>비밀번호 찾기</strong>
    </h2>
    <form>
        <!-- NAME -->
        <input autocomplete='off' class="input-tag" type="text" id='name' placeholder="Enter your user name" name="name"
            required>

        <!-- TEL -->
        <input autocomplete='off' class="input-tag" type="text" id='tel' placeholder="Enter your phone number"
            name="tel" required>
        <p style="text-align:left;">등록하신 이름과 연락처가 일치해야 합니다.</p>
        <input class="input-tag btn" type="button" value="findId" id="findId" onClick="finduserId()">
        <!-- 1)넌적스 이용하는 방법
        {% if list.length > 0 %}
        {% for i in list %}
        <p>{{i.user_id}} {{i.created_at}}</p>

        {% endfor %}
        {% endif %} -->

        <div id="result_id"></div>

        <p>
            <br>
            Find your menu , <br>
            with AFTER LUNCH !
        </p>
    </form>
    <script>
        let url = 'http://localhost:3333/user/find_id'

        const finduserId = function () {
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    name: document.getElementById('name').value,
                    tel: document.getElementById('tel').value
                })
            })
                .then(res => res.json())
                .then(res => {
                    if (res.list.length > 0) {
                        document.getElementById("result_id").innerHTML = `<div id="result_id"><hr><div><span>입력된 정보로 가입된 아이디는 ${res.list[0].user_id} 입니다.</span></div><hr></div>`
                    }else{
                        document.getElementById("result_id").innerHTML = `<div id="result_id"><hr><div><span>입력된 정보와 일치하는 아이디가 없습니다.</span></div><hr></div>`
                    }
                })
        }

    </script>
</div>

{% endblock %}