{% extends 'layout.html' %}

{% block content %}

<link rel="stylesheet" href="/assets/css/login.css">



<!-- 본문 -->
<div class="signin__card">
    <h2>
        <strong>HELLO !</strong> <br><br> Good to see you again
    </h2>
    <form method="post" action="../user/login">
        <input autocomplete='on' type="text" placeholder="아이디를 입력하세요." name="id">
        <input id="pwFont" autocomplete='on' type="password" placeholder="비밀번호를 입력하세요." name="pw">
        <input type="submit" value="LOG IN">
        <input type="button" id="kakaologin" value="KAKAO LOG IN" onclick="kakaoLogin()">
        <p>
            Find your menu, <br>
            with AFTER LUNCH !
        </p>
    </form>
    <div class="actions">
        <a href="/join_user">SIGN UP</a>
        <a href="/find_id">FIND ID</a>
        <a href="javascript:void(0)">FIND PW</a>
    </div>
</div>


{% endblock %}